.product-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.product-image {
  width: 200px;
  height: auto;
  margin-right: 10px;
}

.product-name {
  font-size: 18px;
  font-weight: bold;
}

.remove-button {
  background-color: red;
  color: white;
  border: none;
  width: 200px;
  height: 50px;
  border-radius: 5px;
  cursor: pointer;
}
.clear-button{
  background-color: rgb(131, 205, 144);
  color: white;
  border: none;
  width: 200px;
  height: 50px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 620px;
  margin-top: 20px;
}