.product-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.product-image {
  width: 200px;
  height: auto;
  padding-left: 20px;
  margin-right: 10px;
}

.product-name {
  font-size: 18px;
  font-weight: bold;
}

.remove-button {
  color: white;
  border: none;
  width: 200px;
  height: 50px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 200px;
  text-align: center;
  color: #111;
}
.clear-button {
  background-color: rgb(131, 205, 144);
  color: white;
  border: none;
  width: 200px;
  height: 50px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 650px;
  margin-top: 20px;
}
.buy-button {
  background-color: rgb(131, 205, 144);
  color: white;
  border: none;
  width: 150px;
  height: 50px;
  border-radius: 5px;
  cursor: pointer;
}
